<h1 style="
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  " class="mt-2">
    Create Recipes
</h1>
<div class="example-container">
    <div class="form-container">
        <form [formGroup]="loginForm" (submit)="submit()" style="text-align: center;">
            <mat-form-field style="width: 30vw;" class="form-field" appearance="fill">
                <mat-label> Name
                </mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
            <br>
            <mat-form-field style="width: 30vw;" appearance="fill">
                <mat-label>Estimate the time required (in minutes)</mat-label>
                <input matInput formControlName="time_required" type="text">
            </mat-form-field>
            <br>
            <mat-form-field style="width: 30vw;" appearance="fill">
                <mat-label>Difficulty level</mat-label>
                <mat-select matSelect formControlName="difficulty" type="text">
                    <mat-option value="Easy">Easy</mat-option>
                    <mat-option value="Moderate">Moderate</mat-option>
                    <mat-option value="Difficult">Difficult</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 30vw;" class="form-field" appearance="fill">
                <mat-label> Image URL
                </mat-label>
                <input matInput formControlName="image" type="text">
            </mat-form-field>
            <br>
            <mat-form-field style="width: 30vw;" class="example-full-width mt-3" appearance="fill">
                <mat-label>Provide instructions for the recipe</mat-label>
                <textarea style="height:40px" matInput formControlName="steps_list" type="text"
                    placeholder="First, preheat the oven to 350..."></textarea>
            </mat-form-field>
            <div (click)="addStep()"
                style="background-color: green; width: 150px; color: white; padding: 5px 10px; margin: 0 auto; border-radius: 6px; cursor: pointer;">
                Add Instruction
            </div>

            <ol style="width: 30vw; margin: 0 auto;">
                <div *ngFor="let step of steps" class="" style="text-align: center; width: 25vw;">
                    <li>{{step}}</li>
                </div>
            </ol>
            <br>
            <mat-form-field style="width: 30vw;" class="example-full-width mt-3" appearance="fill">
                <mat-label>Provide ingredients for the recipe</mat-label>
                <textarea style="height:100px" matInput formControlName="ingredients_list" type="text"
                    placeholder="Cucumber, avocado, pasta sauce..."></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>