<h1 style="
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  " class="mt-2">
    Recipe Manager
</h1>
<button mat-raised-button color="primary" class="mb-5 ml-5" (click)="goToCreateRecipe()">
    Create Recipe
</button>
<div class="card">
    <div class="card-container  ml-3 mt-3" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 40px;">
        <div *ngFor="let recipe of recipes" class="" style="text-align: center; width: 25vw;">
            <mat-card>
                <mat-card-title>{{ recipe.name }}</mat-card-title>
                <mat-card-subtitle> {{ recipe.difficulty }}</mat-card-subtitle>
                <h4>{{ recipe.time_required }} minutes</h4>
                <img src="{{ recipe.image }}" width="200">
                <div>Ingredients</div>
                <div>{{ recipe.ingredients_list }}</div>
                <div>{{ recipe.steps_list }}</div>
                <mat-card-actions>
                    <button mat-button (click)="onDelete(recipe)"
                        style="background-color: rgb(246, 143, 143);">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>